.title {
  margin-top: 5rem;
  font: 700 3rem Roboto;
  color: var(--color-background);
}

.buttonsContainer {
  margin-top: 10rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonsContainer a + a {
  margin-top: 1.5rem;
}
